@using Polufabrikkat.Core.Constants
@using Polufabrikkat.Site.Constants
@{
	var authorized = User.Identity.IsAuthenticated;
	var userName = User.Identity.Name;
	var isAdmin = User.IsInRole(AppRoles.Admin);
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Polufabrikkat</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
</head>
@await RenderSectionAsync("Styles", required: false)
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6XZX0B9PP6"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'G-6XZX0B9PP6');

	$(document).ready(function (){
		document.cookie = '@DateTimeProviderConstants.TimeZoneKey' + '=' + Intl.DateTimeFormat().resolvedOptions().timeZone;
	});
</script>

<body>
	<div class="main-container">
		<header class="header">
			<div class="header-container">
				<div>
					<a href='@Url.Action("Index", "Home")'>
						<img src="~/img/logo.png" alt="logo" class="header-logo-img" />
					</a>
				</div>

				<div>
					<nav class="header-nav">
						<a href='@Url.Action("NewPost", "Posting")'>New Post</a>
						<a href='@Url.Action("Index", "Posting")'>History</a>
						@if (isAdmin)
						{
							<a href='@Url.Action("Index", "Admin")'>Admin</a>
						}
					</nav>
				</div>

				@if (authorized)
				{
					<div>
						<a class="user-link" href='@Url.Action("Index", "User")'>@userName</a>
					</div>
				}
				else
				{
					<div>
						<a href='@Url.Action("Login", "Home")' class="button button-primary">Login</a>
					</div>
				}
			</div>
		</header>

		<main role="main" class="main-content">
			@RenderBody()
		</main>

		<footer class="footer">
			<div>
				<span>&copy; 2024 Future Posting. All rights reserved.</span>
			</div>
			<nav class="footer-nav">
				<a href='@Url.Action("Privacy", "Home")'>Privacy</a>
				<a href='@Url.Action("TermsOfService", "Home")'>Terms Of Service</a>
			</nav>
		</footer>
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
		@await RenderSectionAsync("Scripts", required: false)
	</div>
</body>
</html>
